@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

/* let initialise everything*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* GENERAL SETTING */
html {
  scroll-behavior: smooth; /* To add scroll tool */
}

ul {
  display: flex;
}
li {
  list-style-type: none;
  color: #000;
}

.purple {
  color: #7342d6;
}

img {
  width: 100%;
}

.container {
padding: 24px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.row__colum {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 p {
  line-height: 1.5;
  
 }

.no-cursor {
  cursor: none;
}


/*NAV*/


#landing {
  background-color: rgba(115, 66, 214, 0.1)

}

nav {
  height: 80px;
  display: flex;
}

.nav__container {
   display: flex;
   width: 100%;
   max-width: 1200px;
   padding: 0 24px;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;

}

.nav__logo {
  width: 160px;
}

/*.nav__links {}*/

.nav__link {
  margin-left: 16px;
  color: #7342d6;
  text-decoration: none;
  font-size: 20px;
  padding: 8px;
}
.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #7342d6;
  border-radius: 4px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

/* THIS IS FOR THE BUGGER MENU */

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
   color: #7342d6;
   display: none; 
}
.menu__backdrop {
  border: 2px solid red;
  position: absolute; /* this to make position normal */
  background-color: black;
  top: 0;
  left: 0;
 width: 100vw;
height: 100vh;
z-index: 100;
display: flex;
justify-content: center;
align-items: center;
align-items: center;
display: none;
/* for animation */
transition: all 30ms ease;
opacity: 0;
visibility: hidden;

}

.menu--open .menu__backdrop{
  display: flex;
  /* for animation */
  opacity: 1;
  visibility: visible;
}

.menu--open { /* thsi is to only see the menu open on the screen */
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
}

.menu__link {
  color: white;
  font-size: 40px;
}

.menu__list {
  padding: 32px 0;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;

}


/*HEADER*/

header {
  height: calc(100vh - 80px);
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  margin: 0 auto;
}

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

.header__img--wrapper {
  padding: 20px;
}


h1 {
  font-size: 56px;
  color: #7342d6;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
   font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}
/* Button effect */

button {
  cursor: pointer;
}
button:active {
  transform: translateY(1px);
}


.btn {
  background-color: #7342d6;
  color: aliceblue;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  padding: 12px 24px;
  max-width: 200px;
}


.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* HIGHLIGHT*/

#highlights {
  position: relative;
}

#highlights:before {
 background: url('assets/wave.svg');
 content: "";
 position: absolute;
 top: 1px;
 left: 0;
 width: 101vw;
 height: 12vw;
  background-size: cover;
 background-repeat: no-repeat;
 z-index: 1;
 transform: translateY(-100%); 

}

#highlights:after {
 background: url('assets/wave.svg');
 content: "";
 position: absolute;
 width: 101vw;
 height: 12vw;
 bottom: 1px;
 background-size: cover;
 background-repeat: no-repeat;
 transform: translateY(100%) rotate(180deg);
 z-index: 1;
 }



/*.highlights {} */

.highlight__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.highlight {
  padding: 0 24px;
  width: calc(100% / 3);
 display: flex;
 align-items: center;
 
 flex-direction: column;
}

.header__para {
  text-align: center;
  max-width: 280px;
}

.highliht__img {
  border: 2px solid;
  color: #5d39a3;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 32px;
  margin-bottom: 24px;

}

.highliht__subtitle {
  font-size: 20px;
  margin-bottom: 16px;

  text-align: center;
}

/* FEATURES */

#features {
padding-top: 8vw;
  background-color: rgba(115, 66, 214, 0.1);
}

.books {
display: flex;
flex-wrap: wrap;

}

.book {
  width: 25%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book__img--wrapper {
  margin-bottom: 8px;
   max-height: 380px;
   border-radius: 4px;
   overflow: hidden; /* (1) to see that border-radius*/
   cursor: no-drop;  /* to let know that it is not clickeble*/
  
}

.book__img {
  max-width: 380px;
  transform: all 300ms ease; /* (3) add the transition to make (2) smoother */
}

.book:hover .book__img {
  transform: scale(1.03); /* (2) to see all the books image increase by 3% when we click on it*/
}

.book__title {
  font-size: 20px;
  margin-bottom: 8px;
}

.book__title:hover { /* add specific input to and element*/
  text-decoration: underline;
  cursor: not-allowed;
}

.book__rating {
  margin-bottom: 8px;
  color: rgb(164, 142, 19)

}

/*.book__price {} */

.book__price--normal {
text-decoration: line-through;
padding-right: 6px;
color: gray;
}

/* EXPLORE */
#explore {
    background-color: rgba(115, 66, 214, 0.1);
}

/* FOOTER */

footer {
  background-color: #242424;
}

/*.footer__logo {}*/

.footer__logo--img {
 width: 160px;
 filter:grayscale(1) invert(1); /* invert the provious color of logo */
}

.footer__list {
  margin: 20px 0 24px 0;

}

.footer__link {
color: white;
text-decoration: none;
padding: 0 8px;
}
.footer__link:hover {
  text-decoration: underline;
}

.footer__copyright {
color: white;
}

/* IF WE DONT WANT TO SHOW THE MENU, ADD THE BREAK POINT */

@media (max-width: 550px) {
  .nav__links {
    display: none;
  }
  .btn__menu {
    display: block; /* only display it with max-width = 550px */
  }
  .highlight {
    width: 100%;

  }
  .highlight:not(:last-child) {
     margin-bottom: 24px;
  }
}



/* Let make out webesite responsive */
/* SMALL PHONE, TABLETS, LARGE SMARTPHONE */
@media(max-width: 768px){
  .header__description {
    padding: 0 24px;
  }
h1{
  font-size: 40px;
}
h2{
  font-size: 26px;
}
button {
  font-size: 18px;
}
.book {
  width: 50%;
}

}


